dependencies="samba acl ssh git fail2ban zip curl wget"

ascpl_dir="/etc/ascpl/"
ascpl_log_dir="/etc/ascpl/logs/"
ascpl_samba_users_config_dir="/etc/ascpl/samba_user_configs/"
ascpl_config_backups_dir="/etc/ascpl/config_backups/"
ascpl_config_backups_fstab_dir="/etc/ascpl/config_backups/fstab/"
ascpl_config_backups_samba_dir="/etc/ascpl/config_backups/samba/"
ascpl_config_backups_ssh_dir="/etc/ascpl/config_backups/ssh/"
ascpl_config_backups_network_dir="/etc/ascpl/config_backups/network/"

default_samba_users_group="smbusers"
default_samba_admin_group="smbadmins"

ascpl_init_log_file="/etc/ascpl/logs/ascpl_init.log"
ascpl_add_user_log_file="/etc/ascpl/logs/ascpl_add_user.log"
active_users_file="/etc/ascpl/active_users"

active_users_base_dir="/mnt/shares/sftp/all/active/"


ssh_config_file="/etc/ssh/sshd_config"
samba_global_config_file="/etc/samba/smb.conf"
fstab_file="/etc/fstab"

samba_users_shell="/usr/sbin/nologin"
system_user_shell="/bin/bash"




vg_name="users"
vg_path="/dev/${vg_name}/"
default_lv_size="3G"


fstab_file="/etc/fstab"
fstab_backups_dir="/etc/ascpl/config_backups/fstab/"


backups_base_dir="/mnt/shares/sftp/all/bkp/user_backups/"


##### NETWORK ######
static_ip="192.168.0.11/24"
static_ip_config_dir="/etc/netplan/"
static_ip_config_file="/etc/netplan/01-netcfg.yaml"
gateway="192.168.0.1"
nameserver1="8.8.8.8"
nameserver2="1.1.1.1"