
domain=""
www_domain=""

php_ver="8.1"

wp_dir="/var/www/wordpress"
wp_db_backup_dir="/home/ubuntu/dbbackups/"

nginx_dir="/etc/nginx/"
nginx_web_config_file="/etc/nginx/sites-available/wordpress.conf"
ngin_enabled_dir="/etc/nginx/sites-enabled/"

mysql_root_pwd="manu@mysql1234"
mysql_username="manu"
mysql_user_pwd="manumysql"
mysql_db_name="webdb"

manu
manu@holaamigo22

