#### GENERAL SETTINGS #####

day_string=(date +"%Y_%m_%d")
todays_date="$(date +%Y%m%d)"
backup_stamp="$(date +%Y%m%d_%H%M%S)"


########## DEFAULT SYSTEM USERS AND GROUPS ############
default_system_user=""
default_system_user_password=""
default_system_user_groups="${default_samba_admin_group}"

default_sftp_user=""
default_sftp_user_password=""
default_sftp_users_group="onlysftpusers"
default_sftp_admin_group="sftpadmins"

default_samba_users_group="smbusers"
default_samba_admin_group="smbadmins"


############ DEFAULT LOCATIONS ###########
config_dir="/etc/ascpl/"
log_dir="/etc/ascpl/logs/"
config_backups_dir_fstab="/etc/ascpl/config_backups/fstab/"
config_backups_dir_ssh="/etc/ascpl/config_backups/ssh/"
config_backups_dir_samba="/etc/ascpl/config_backups/samba/"
init_log_file="/etc/ascpl/logs/ascpl_init.log"
log_file="/etc/ascpl/logs/ascpl.log"
system_user_shell="/bin/bash"
samba_user_shell="/usr/sbin/nologin"
base_home_dir="/mnt/mounts/sftp/lshare/ms3/shares/users/"


######## SSH ########
default_ssh_port=
ssh_config_file="/etc/ssh/sshd_config"


# # # SAMBA CONFIGURATION # # # 
samba_global_config_file="/etc/samba/smb.conf"
samba_users_config_dir="/etc/samba/ascpl/ascpl_user_configs/"
samba_config_backups_dir="/etc/samba/ascpl/samba_backups/"

#### GLOBAL SAMBA CONFIG ####
workgroup="ASCPL"
netbios_name="ascplsrv"
server_string="ASCPL File Server"
samba_log_file="/var/log/samba/log.%m"
max_log_size="10000"
logging="file"
panic_action="/usr/share/samba/panic-action %d"
server_role="standalone server"
name_resolve_order="bcast host"

###### LVM settings ########
volume_group_name="working_dirs"
default_lvm_size="5G"
fstab_file="/etc/fstab"


######### BACKUP SETTINGS ########
active_users="/etc/ascpl/active_users"
source_base="/mnt/test/"

dest_base_daily="/mnt/backups/daily_backups/"
dest_base_hourly="/mnt/backups/hourly_backups/"

log_files_base_daily="/mnt/backups/logs/daily_backups/"
log_files_base_hourly="/mnt/backups/logs/hourly_backups/"


##### NETWORK ######
static_ip="192.168.0.11/24"
static_ip_config_file="/etc/netplan/01-netcfg.yaml"
gateway="192.168.0.1"
nameserver1="8.8.8.8"
nameserver2="1.1.1.1"