

# # # MOUNT POINT # # #
new_user_data_parent_dir="/mnt/mounts/sftp/lshare/ms3/shares/users/"




# # # SAMBA CONFIGURATION # # # 

samba_global_config_file="/etc/samba/smb.conf"
samba_users_config_dir="/etc/samba/user_configs/"
samba_users_group="smbusers"
smb_admins_group="smbadmins"



#### GLOBAL SAMBA CONFIG ####

workgroup="ASCPL"
netbios_name="ascplsrv"
server_string="ASCPL File Server"
samba_log_file="/var/log/samba/log.%m"
max_log_size="10000"
logging="file"
panic_action="/usr/share/samba/panic-action %d"
standalone_server="standalone server"


#### GENERAL SETTINGS #####

day_string=(date +"%Y_%m_%d")




###### LVM settings ########

volume_group_name="working_dirs"
default_lvm_size="5G"

fstab_file="/etc/fstab"


######### BACKUP SETTINGS ########
users_to_backup="/etc/ascpl/samba_users_to_backup"
source_base="/mnt/test/"
dest_base_daily="/mnt/backups/daily_backups/"
dest_base_hourly="/mnt/backups/hourly_backups/"
log_files_base_daily="/mnt/backups/logs/daily_backups/"
log_files_base_hourly="/mnt/backups/logs/hourly_backups/"
todays_date="$(date +%Y-%m-%d)"