#### GENERAL SETTINGS #####

day_string=(date +"%Y_%m_%d")
todays_date="$(date +%Y%m%d)"

########## DEFAULT USERS AND GROUPS ############
default_system_user=""
default_sftp_user=""
default_samba_
default_samba_users_group="smbusers"
default_samba_admin_group="smbadmins"



# # # USER MOUNT POINT # # #
new_user_data_parent_dir="/mnt/mounts/sftp/lshare/ms3/shares/users/"




# # # SAMBA CONFIGURATION # # # 

samba_global_config_file="/etc/samba/smb.conf"
samba_users_config_dir="/etc/samba/ascpl_user_configs/"




#### GLOBAL SAMBA CONFIG ####

workgroup="ASCPL"
netbios_name="ascplsrv"
server_string="ASCPL File Server"
samba_log_file="/var/log/samba/log.%m"
max_log_size="10000"
logging="file"
panic_action="/usr/share/samba/panic-action %d"
standalone_server="standalone server"






###### LVM settings ########

volume_group_name="working_dirs"
default_lvm_size="5G"

fstab_file="/etc/fstab"


######### BACKUP SETTINGS ########
active_users="/etc/ascpl/active_users"
source_base="/mnt/test/"

dest_base_daily="/mnt/backups/daily_backups/"
dest_base_hourly="/mnt/backups/hourly_backups/"

log_files_base_daily="/mnt/backups/logs/daily_backups/"
log_files_base_hourly="/mnt/backups/logs/hourly_backups/"
