
base_dir="/mnt/shares/sftp/all"
script_location="/home/manu/scripts/backup"


srv_source_base="/mnt/shares/sftp/all/active"
srv_target_base="/mnt/shares/sftp/all/bkp/rbackups"
source_base="${base_dir}/active"
target_base="${base_dir}/bkp/users/"

time_format_options="\t real -> %E,\t user -> %U,\t system -> %S,\t Mem -> %M"