

log_file="/etc/ascpl/logs/ascpl_add_user.log"
active_users_file="/etc/ascpl/active_users"

users_base_dir="/mnt/shares/sftp/all/active/users/"


samba_users_group="smbusers"
samba_users_shell="/usr/sbin/nologin"
samba_users_config_dir="/etc/ascpl/samba_user_configs/"
samba_global_config_file="/etc/samba/smb.conf"
samba_config_backups="/etc/ascpl/config_backups/samba/"


vg_name="users"
vg_path="/dev/${vg_name}/"
default_lv_size="5G"


fstab_file="/etc/fstab"
fstab_backups_dir="/etc/ascpl/config_backups/fstab/"


backups_base_dir="/mnt/shares/sftp/all/bkp/user_backups/"